@font-face {
 font-family: 'Exo 2';
 url('/font/Exo2-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.chatalt3 {
 backdrop-filter: blur(9px);
 height: 100%;
 position: absolute;
 top: 50px;
 scrollbar-color: transparent rgba(255, 255, 255, 0.05);
 scrollbar-width: none;
}

#secondChatServer {
 height: 100%;
}

::-webkit-scrollbar {
 display: none;
}

#chat2 {
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

#messages {
 scrollbar-color: transparent rgba(255, 255, 255, 0.05);
 scrollbar-width: none;
}

.bar {
 height: 50px;
}

.backgroundstyles {
 overflow-x: scroll;
 height: 80%;
 width: 100%;
 word-break: break-all;
 text-wrap: wrap;
 padding-left: 15px;
 scrollbar-color: transparent rgba(255, 255, 255, 0.05);
 scrollbar-width: none;
}
.chatalt {
 backdrop-filter: blur(9px);
 height: calc(100% - 50px);
 position: absolute;
 top: 50px;
 scrollbar-color: transparent rgba(255, 255, 255, 0.05);
 scrollbar-width: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minnit {
 height: 100%;
 backdrop-filter: blur(3px);
}
.blocksidebar {
 white-space: nowrap;
 position: absolute;
 left: 322px;
 height: 100%;
 bottom: 43px;
 width: 100%;
 overflow-y: hidden;
}
#video-background {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: 0;
 opacity: 1; /* Adjust opacity here */
}
.mobileblock {
 display: none;
}
.opac {
 /* opacity: 0.75; */
 /* backdrop-filter: blur(3px); */
 /* transition: opacity 0.5s ease; */
 transition: opacity 1s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}
.fa-bars {
 display: block;
 padding: 0.5rem 1rem;
}
.all {
 position: absolute;
}
.mobile {
 display: none;
}
.foot {
 position: absolute;
 bottom: 20px;
 left: 50%;
 text-align: center;
 justify-content: center;
 vertical-align: middle;
 display: inline-block;
 transform: translate(-50%, -50%);
 z-index: -10;
}
.blockedUsersListClass {
 position: absolute;
 left: 325px;
 top: 72%;
 transform: translateY(-50%);
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 font-weight: 200;
 font-size: 12px;
 overflow-wrap: break-word;
 opacity: 0.9;
 overflow-x: scroll;
 max-width: 126px; 
 backdrop-filter: blur(3px); 
 background-color: rgba(29, 29, 29, 0.8);
 scrollbar-color: transparent rgba(255, 255, 255, 0); 
 scrollbar-width: none;
}
.blockInputClass {
 position: absolute;
 left: 325px;
 top: 79%;
 transform: translateY(-50%);
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 width: 10px;
 backdrop-filter: blur(3px); 
 background-color: rgba(29, 29, 29, 0.8);
}
.unblockInputClass {
 position: absolute;
 left: 325px;
 top: 87%;
 transform: translateY(-50%);
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 width: 10px;
 backdrop-filter: blur(3px); 
 background-color: rgba(29, 29, 29, 0.8);
}
.unblockAllButtonClass {
 position: absolute;
 left: 325px;
 top: 95%;
 transform: translateY(-50%);
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 cursor: pointer;
 backdrop-filter: blur(3px);
 background-color: rgba(29, 29, 29, 0.8);
}
.colorPickerClass {
 position: absolute;
 left: 325px;
 z-index: 1000;
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 color: rgb(255, 255, 255);
 backdrop-filter: blur(3px); 
 top: 64%; 
 background-color: rgba(29, 29, 29, 0.8);
}
.logotkr {
 width: 312px;
 position: absolute;
 bottom: -24px;
 left: 50%;
 text-align: center;
 justify-content: center;
 vertical-align: middle;
 display: inline-block;
 transform: translate(-50%, -50%);
 z-index: -10;
}
form {
 display:flex;
 flex-direction:column;
 margin:0;
 padding:0;
}
.checkbox,
.radio,
input[type=text],
select,
textarea {
 /* background-color:rgba(255,255,255,0.05); */
 border:1px solid rgba(255,255,255,0.05);
 border-radius:0.5rem;
 box-sizing:border-box
}
input[type=text],
select,
textarea {
 color:rgba(255,255,255,0.9);
 font:inherit;
 line-height:1em
}
input[type=text],
select,
textarea {
 padding:0.5rem;
 min-width:200px;
}
input[type=text]::placeholder,
select::placeholder,
textarea::placeholder {
 color:rgba(255,255,255,0.5)
}
input[type=text],
select {
 max-width:350px;
}
html,
body {
 scrollbar-width: none;
 -ms-overflow-style: none;
 background-color:#1d1d1d;
 color:rgba(255,255,255,0.9);
 font-family:"Exo 2";
 font-size:16px;
 margin:0;
 padding:0;
 min-width:100%;
 min-height:100%;
 width:100%;
 height:100%;
 overflow-y: hidden;
 overflow-x: hidden;
}
a,
a:visited,
a:hover {
 color:rgba(255,255,255,0.9);
 text-decoration:none
}
.sidebars {
 white-space:nowrap;
 /* position:absolute; */
 left: 322px;
 height: 100%;
 bottom: 43px;
 width: 186px;
}
.sidebars .header {
 /* color: #fc0; */
 font-size: 1.25rem;
 font-weight: bold;
 padding: 1.5rem 1rem 0.5rem 1rem;
 background: radial-gradient(circle, violet, indigo, #7ff, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 /* display: none; */
}
.scroll-y,
body aside,
body .main,
body .chat-messages,
.admin main {
 overflow-y:scroll;
 scrollbar-color:transparent rgba(255,255,255,0.05);
 scrollbar-width:none
}
.scroll-y::-webkit-scrollbar,
body aside::-webkit-scrollbar,
body .main::-webkit-scrollbar,
body .chat-messages::-webkit-scrollbar,
.admin main::-webkit-scrollbar {
 width:0
}
.scroll-y::-webkit-scrollbar-track,
body aside::-webkit-scrollbar-track,
body .main::-webkit-scrollbar-track,
body .chat-messages::-webkit-scrollbar-track,
.admin main::-webkit-scrollbar-track {
 background-color:transparent
}
.scroll-y::-webkit-scrollbar-thumb,
body aside::-webkit-scrollbar-thumb,
body .main::-webkit-scrollbar-thumb,
body .chat-messages::-webkit-scrollbar-thumb,
.admin main::-webkit-scrollbar-thumb {
 background-color: #292929;
}
body {
 display:grid;
 grid-template-areas:"nav nav nav" "sidebars main name" "sidebars main messages" "sidebars main send";
 grid-template-columns:auto 1fr 250px;
 grid-template-rows:auto auto 1fr auto
}
body nav {
 grid-area:nav;
 display:grid;
 align-items:center;
}
body nav .logo {
 grid-area:logo
}
body nav .menu {
 grid-area:menu
}
body nav .lang {
 grid-area:lang;
 justify-content:flex-end
}
body nav .list {
 display:flex;
 flex-direction:row;
 align-items:center;
 margin:0;
 padding:0;
 white-space:nowrap
}
body nav .list .item a,
body nav .list .item a:visited,
body nav .list .item .active {
 display:inline-block;
 padding:1rem
}
body nav .list .item a .icon,
body nav .list .item a:visited .icon,
body nav .list .item .active .icon {
 margin-right:0.5rem;
 opacity:0.5
}
body nav .list .item a:hover,
body nav .list .item a:visited:hover {
 background-color:#093
}
body nav .list .item a.heart,
body nav .list .item a:visited.heart {
 color:#d00
}
body nav .list .item .active {
 background-color:rgba(255,255,255,0.1);
 box-shadow:inset 0 -0.5rem 0 -0.25rem #093
}
body nav .margin {
 margin:0 1rem
}
#chat {
 grid-area: messages;
 box-sizing: border-box;
 display: flex;
 flex-direction: column-reverse;
 z-index: 10;
 overflow-y: scroll;
 height: calc(100% - 50px);
 position: absolute;
 top: 50px;
 right: 0%;
 width: 400px;
 backdrop-filter:blur(9px);
}
#chat.active,
aside.active {
    left: 0;
    transition: left 0.25s;
    /* display: none; */
    width: 25%;
    max-width: 302px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    min-width: 300px;
}
aside {
    background-color: #1d1d1d;
    border-radius: 0 1rem 0 0;
    box-shadow: 0 0 1rem #000;
    box-sizing: border-box;
    position: fixed;
    left: -200vw;
    top: 2rem;
    z-index: 16000000;
    /* width: calc(100% - 2rem); */
    width: 25%;
    max-width: 302px;
    height: calc(100% - 2rem);
    transition: left 0.25s;
}
.chatDesktop {
    background-color: #1d1d1d;
    border-radius: 0 1rem 0 0;
    box-shadow: 0 0 1rem #000;
    box-sizing: border-box;
    position: fixed;
    left: -200vw;
    top: 2rem;
    z-index: 16000000;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}
.chatMobile {
 display: none;
}
/* body aside {
 grid-area:sidebars;
 background-color:rgba(255,255,255,0.05);
 border-right:1px solid rgba(0,0,0,0.25);
 padding-bottom:2rem;
 display: none;
} */
body .main {
 grid-area:main;
 display:flex;
 flex-direction: none;
 overflow: hidden;
 z-index: 0;
}
body .main main {
 flex-grow:1;
}
body .main main .viewport {
 display:flex;
 flex-direction:column;
 height:calc(100% - 3rem);
}
body .main main .viewport .game {
 border:none;
 flex-grow:1;
 width:100%;
}
body .main main .viewport .footer {
 display:flex;
 flex-direction:row;
 align-items:center;
 margin:1rem;
 white-space:nowrap;
}
body .main main .viewport .footer .item {
 margin-right:1.5rem;
}
body .main main .viewport .footer .item:last-child {
 margin-right:0;
}
body .main main .reviews iframe {
 border:none;
 border-radius:0.5rem;
 margin-bottom:1rem;
 max-width:800px;
 width:100%;
 height:400px;
}
body .main main .reviews .thumbs {
 display:flex;
 flex-direction:row;
 text-align:center;
}
body .main main .reviews .thumbs .item {
 margin-right:1rem;
}
body .main main .reviews .thumbs .item:last-child {
 margin-right:0;
}
body .main main .reviews .thumbs .item img {
 border-radius:0.5rem;
}
body .main main .reviews .thumbs .item a:hover img {
 box-shadow:0 0 0 2px #fc0;
}
body .chat-name,
body .chat-messages,
body .chat-send {
 border-left:1px solid rgba(0,0,0,0.25);
}
body .chat-name,
body .chat-send {
 display:grid;
 grid-template-areas:"input button";
 grid-template-columns:1fr auto;
 align-items:center;
 z-index: 10;
}
body .chat-name input[type=text],
body .chat-send input[type=text] {
 grid-area:input;
 background:none;
 border:none;
 border-radius:0;
 padding:0 0.5rem;
 height:100%;
 min-width:auto;
 z-index: 10;
 max-width: 345px;
}
body .chat-name input[type=text]:focus,
body .chat-send input[type=text]:focus {
 background-color: #163c23;
 z-index: 10;
}
body .chat-name i,
body .chat-send i {
 grid-area:button;
 cursor:pointer;
 padding: 1rem;
 z-index: 10;
}
body .chat-name {
 grid-area:name;
 z-index: 10;
}
body .chat-name i:hover {
 background-color:rgba(255,255,255,0.1);
 z-index: 10;
}
body .chat-messages {
 grid-area: messages;
 box-sizing: border-box;
 display: flex;
 flex-direction: column-reverse;
 padding: 0.5rem;
 z-index: 10;
 height: 100%;
}
body .chat-messages .entry {
 margin-top:1rem;
 z-index: 10;
}
body .chat-messages .entry a,
body .chat-messages .entry a:visited {
 display:inline-block;
 vertical-align:middle;
 z-index: 10;
}
body .chat-messages .entry a:hover img,
body .chat-messages .entry a:visited:hover img {
 opacity:1;
 z-index: 10;
}
body .chat-messages .entry a img,
body .chat-messages .entry a:visited img {
 opacity:0.5;
 margin-left:0.5rem;
 z-index: 10;
}
body .chat-messages .entry .time,
body .chat-messages .entry .name {
 font-size:0.9rem;
 z-index: 10;
}
body .chat-messages .entry .time {
 opacity:0.5;
 z-index: 10;
}
body .chat-messages .entry .system {
 /* color:#3f0; */
 font-weight:bold;
 /* text-shadow:0 0 0.5rem #3f0; */
 text-shadow: 0 0 0.5rem #aaa;
 z-index: 10;
 background: radial-gradient(circle, violet, indigo, #7ff, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.system {
 color:#3f0;
 font-weight:bold;
 text-shadow:0 0 0.5rem #3f0;
 z-index: 10;
}
body .chat-send {
 grid-area:send
}
body .chat-send i:hover {
 background-color:#093
}
h1 {
 font-size:3rem
}
footer {
 display:flex;
 flex-direction:row;
 justify-content:center;
 padding: 0rem;
}
footer .item {
 margin-right:2rem
}
footer .item:last-child {
 margin-right:0
}
