.mob {
	z-index: 1
}

#chat2 {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}

.chatalt3 {
	scrollbar-color: transparent rgba(255, 255, 255, 0.05);
	scrollbar-width: none;
}

.chatalt {
	scrollbar-color: transparent rgba(255, 255, 255, 0.05);
	scrollbar-width: none;
}

#secondChatServer {
	z-index: 1;
	position: absolute;
	width: 100%;
	backdrop-filter: blur(8px);
	position: absolute;
	left: 0%;
	bottom: -40px;
	width: 100%;
	height: 100%;
/*	background-color: rgba(0, 0, 0, 0.7);*/
}

.draw {
	display: none;
}

#video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	opacity: 1; /* Adjust opacity here */
}

.bar {
    height: 40px;
}

.foot {
    display: none;
}

.logotkr {
    display: none;
}

.backgroundstyles {
    height: 330px;
    overflow-y: scroll;
    scrollbar-color: transparent rgba(255, 255, 255, 0.05);
    scrollbar-width: none;
}

.mobile {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0);
}

.desktopblock {
    display: none;
}

.opac {
    opacity: 0.8;
    /* transition: opacity 1s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%); */
    /* transition: opacity 1s linear; */
}
/* .opac:hover {
    opacity: 1;
} */

.all {
    position: absolute;
}

.testing {
    display: none
}

#colorpicker {
    position: absolute;
    top: 0%; 
    right: 0%;
}

.desktop {
    display: none
}

.blockedUsersListClass {
	position: absolute;
	left: 2%;
	top: 70%;
	transform: translateY(-50%);
	background-color: rgba(51, 51, 51, 0.9);
	color: rgb(255, 255, 255);
	padding: 5px;
	border: 1px solid rgb(68, 68, 68);
	border-radius: 5px;
	font-weight: 200;
	font-size: 12px;
	max-width: 200px;
	overflow-wrap: break-word;
	opacity: 0.9;
	overflow-x: scroll;
}

.blockInputClass {
	position: absolute;
	left: 0%;
	top: 79%;
	transform: translateY(-50%);
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	padding: 5px;
	border: 1px solid rgb(68, 68, 68);
	border-radius: 5px;
	width: 10px;
}

.unblockInputClass {
	position: absolute;
	left: 0%;
	top: 87%;
	transform: translateY(-50%);
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	padding: 5px;
	border: 1px solid rgb(68, 68, 68);
	border-radius: 5px;
	width: 10px;
}
.unblockAllButtonClass {
 position: absolute;
 left: 2%;
 top: 95%;
 transform: translateY(-50%);
 background-color: rgb(51, 51, 51);
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgb(68, 68, 68);
 border-radius: 5px;
 cursor: pointer;
}

.colorPickerClass {
 position: absolute;
 top: 70%;
 left: 82%;
 z-index: 1000;
 padding: 5px;
 border: none;
 border-radius: 5px;
 background-color: rgb(51, 51, 51);
 color: rgb(255, 255, 255);
}

.minnit {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 0px;
    backdrop-filter: blur(3px);
/*    background-color: rgba(0, 0, 0, 0.77); */
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.checkbox,
.radio,
input[type="text"],
select,
textarea {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    box-sizing: border-box;
}
input[type="text"],
select,
textarea {
    color: rgba(255, 255, 255, 0.9);
    font: inherit;
    line-height: 1em;
}
input[type="text"],
select,
textarea {
    padding: 0.5rem;
    min-width: 200px;
    width: 100%;
}

input[type="text"]::placeholder,
select::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
input[type="text"],
select {
    max-width: 100%;
    height: 45px;
    border-radius: 0;
}

html,
body {
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Exo 2";
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

a,
a:visited,
a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.fa-paper-plane {
    position: absolute;
    bottom: 0%; 
    right: 0%;
}

.sidebars {
    white-space: nowrap;
}
.sidebars .header {
    /* color: #fc0; */
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.5rem 1rem 0.5rem 1rem;
    background: radial-gradient(circle, violet, indigo, #7ff, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    display: grid;
    grid-template-areas: "nav" "main";
    grid-template-rows: auto 1fr;
}
body nav {
    grid-area: nav;
    background-color: #292929;
    border-bottom: #292929;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

body nav .item {
    display: block;
    padding: 0.5rem 1rem;
}
body {
    grid-area: main;
    overflow-y: scroll;
}

.main {
    /* display: none; */
    overflow-x: none;
    overflow-y: none;
}
#chat,
aside {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 1rem 0 0;
    box-shadow: 0 0 1rem #000;
    box-sizing: border-box;
    position: fixed;
    left: -200vw;
    top: 2rem;
    z-index: 16000000;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    transition: left 0.25s;
    backdrop-filter: blur(30px);
}
#chat.active,
aside.active {
    left: 0;
    transition: left 0.25s;
}
#chat {
    display: grid;
    grid-template-areas: "name" "messages" "send";
    grid-template-rows: auto 1fr auto;
}
#chat .chat-name,
#chat .chat-send {
    display: grid;
    grid-template-areas: "input button";
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}
#chat .chat-name input[type="text"],
#chat .chat-send input[type="text"] {
    grid-area: input;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0 0.5rem;
    min-width: auto;
    width: calc(100% - 52px);
}
#chat .chat-name input[type="text"]:focus,
#chat .chat-send input[type="text"]:focus {
    background-color: rgba(0, 153, 51, 0.5);
}
#chat .chat-name i,
#chat .chat-send i {
    grid-area: button;
    cursor: pointer;
    padding: 1rem;
}
#chat .chat-name {
    grid-area: name;
    border-radius: 0 1rem 0 0;
}
#chat .chat-name i {
    border-radius: 0 1rem 0 0;
}
#chat .chat-name i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#chat .chat-messages {
    grid-area: messages;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 0.5rem;
}
#chat .chat-messages .entry {
    margin-top: 1rem;
}
.chatDesktop {
    display: none;
}
.entry {
    margin-top: 1rem;
}
#chat .chat-messages .entry a,
#chat .chat-messages .entry a:visited {
    display: inline-block;
    vertical-align: middle;
}
#chat .chat-messages .entry a img,
#chat .chat-messages .entry a:visited img {
    margin-left: 0.5rem;
}
#chat .chat-messages .entry .time,
#chat .chat-messages .entry .name {
    font-size: 0.9rem;
}
#chat .chat-messages .entry .time {
    opacity: 0.5;
}
#chat .chat-messages .entry .system {
 /* color:#3f0; */
 font-weight:bold;
 /* text-shadow:0 0 0.5rem #3f0; */
 text-shadow: 0 0 0.5rem #aaa;
 z-index: 10;
 background: radial-gradient(circle, violet, indigo, #7ff, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.chat-messages {
    height: 94%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 0.5rem;
}
#chat .chat-send {
    grid-area: send;
}
#chat .chat-send i:hover {
    background-color: #093;
}
aside {
    overflow-y: scroll;
    padding-bottom: 1.5rem;
}

footer {
    /* display: flex; */
    /* display: none; */
    flex-direction: column;
    padding: 1rem;
}
footer .item {
    margin-bottom: 0.5rem;
}
footer .item:last-child {
    margin-bottom: 0;
}

.system {
 /* color:#3f0; */
 font-weight:bold;
 /* text-shadow:0 0 0.5rem #3f0; */
 text-shadow: 0 0 0.5rem #aaa;
 z-index: 10;
 background: radial-gradient(circle, violet, indigo, #7ff, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
